
.icons{
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.fa {
    padding: 5px;
    border-radius:30%;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    margin: 10px 8px;


}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-insta{
    background: #dd4b39;
		color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
 }
 .fa-youtube{
    background: #ce1414;
		color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-whatsapp{
    background: #4dfc36;
    color: white;

}
.fa-telegram{
    background: #3B5998;
    color: white;
}
.fa-pinterest{
    background: #e61c8b;
    color: white;

}
.fa-cont {
    background: #fa0f0f;
    color: white; 
}
.fa-cont1 {
    background: #18fc3e;
    color: rgb(226, 17, 17); 
    padding: 5px;
    border-radius:80%;
    font-size: 18px;
    text-align: center;
    text-decoration:none;
    margin: 10px 8px;

}
.fa-cont2 {
    background: #fff;
    color: rgb(226, 17, 17); 
    padding: 5px;
    border-radius: 20px;
    font-size: 40px;
    text-align: center;
    text-decoration:none;
    margin: 10px 8px;

}    