body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
  background-color: rgb(241, 169, 241);
}

div {
     /* display: flex;  */
     /* flex-wrap: wrap;  */
    /* justify-content: center;
    align-items: center;  */
    margin-top: 20px;
  }
  
  textarea {
      
    margin: 10px;
    padding: 10px;
    width: 600px;
    height: 60px;
    background-color: #FFFFFF;
     /* border: none; */
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(238, 98, 98, 0.2);
    resize: none;
  }
  
  button {
    margin: 10px;
    padding: 20px 30px;
    
    background-color: #f75127;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3ac404;
  }

  #display-content {
    /* display: flex; */
    flex-wrap: wrap;
     justify-content: center; 
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #8fdde5;
  }
  
  .message {
     display: flex; 
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #eff768;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .message input[type=checkbox] {
    margin-right: 10px;
  }
  
  .message p {
    margin: 0;
    color: #333333;
  }
  
  .delete {
    margin-left: 10px;
    cursor: pointer;
    color: red;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .delete:hover {
    background-color: red;
    color: #FFFFFF;
  }
  
   h1{

 text-align: center;
  
  } 
  h2{

    text-align: center;
     
     } 

     h1 {
        font-size: 30px;
          text-align: center;
          padding: 5px;
          /* margin-right: 5px; */
            margin-top: 5;
          color: rgb(9, 9, 9);
      }
      h3 {
        text-align: center;
        font-size: 20px;
        padding: 5px;
        margin-right: 5px;
        color: rgb(135, 46, 39);
      }