body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(197, 243, 208);
  }
  
  #game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  h1 {
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
  }

  h2 {
    text-align: center;
    font-size: 15px;
    padding: 5px;
    margin-right: 5px;
    color: crimson;
  }
  h3 {
    text-align: center;
    font-size: 18px;
    padding: 5px;
    margin-right: 5px;
    color: rgb(149, 97, 238);
  }
 h4 {
    font-size: 40px;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
  }
  
   
  #word-container {
    margin-bottom: 10px;
  }
  
  #hidden-word {
    font-size: 1px;
    color: #f6f2f2;
    text-align: center;
    text-shadow: 2px 2px #F2F2F2;
  }
  
  #input-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #input-box {
    font-size: 40px;
    background-color: #fcb5f4;
    color: rgb(23, 22, 22);
    padding: 10px;
    margin-right: 10px;
  }
  
  #submit-button {
    font-size: 30px;
    padding: 20px;
    background-color: #ff7676;
    color: rgb(49, 49, 51);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #message-container {
    margin-top: 20px;
    font-size: 32px;
    text-align: center;
  }
  #word-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .letter-box {
    width: 35px;
    height: 35px;
    margin: 5px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    color: #333;
    text-shadow: 1px 1px #d88282;
  }

 #nextButton {
    font-size: 32px;
    padding: 10px 12px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
    

  }
  
  #nextButton:hover {
    background-color: #ed1a0b;
  }
  
  
